# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

/fabric/src/main/java/org/eu/awesomekalin/pro/mod/
/fabric/src/main/resources/assets/progame/

/forge/src/main/java/org/eu/awesomekalin/pro/mod/
/forge/src/main/resources/assets/progame/
